<main class="form-reset-password text-center mt-4">
  <h3 class="h3 mb-3 fw-normal">forgot password</h3>

  <%= form_with url: generate_token_path do |f| %>
    <div class="form-floating">
      <%= f.text_field :email, class: "form-control", placeholder: "email address" %>
      <%= f.label :email, "email address", class: "form-label" %>
    </div>
    <div class="mt-3">
      <%= f.submit "reset password", class: "w-100 btn btn-sm btn-outline-primary" %>
    </div>
  <% end %>
</main>